*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu{
  background-color: #ADD8E6; /*delete after*/
  height: 60px; /
}

.iltuopostoperparlare{

  background-color: #00008B; /*delete after*/
  height: 400px; 
}

