*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-flex {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  width: 65%;
  max-width: 1200px;
}

/* HEADER */

header{
  background-color: #ADD8E6; /*delete after*/
  height: 100px;
  padding-top:15px ;
}


#containerlogo{
  height: 70px;
  background-color: #DAA520; /*delete after*/
  border-style: dashed;/*delete after*/
  border-width: 4px;/*delete after*/
  justify-content: space-between;
  padding: 4px;
  

}

.logo{
  border-right-style: dashed;/*delete after*/
  border-width: 4px;/*delete after*/
  padding-right: 100px;
}

.links{
  display: inline-flex;
}

.login{
  border-left-style: dashed;
  border-width: 4px;
  padding-left: 100px;
}

/* MAIN */

/* SECTION BUTTONS */

.buttons{
  background-color: #00008B; /*delete after*/
  height: 400px;
  padding-top: 50px;
}


.container-flex-buttons{

  width: 80%;
  height: 300px;
  background-color: #EE82EE; /*delete after*/
  border-style: dashed;/*delete after*/
  border-width: 4px;/*delete after*/
}


/* SECTION UN LUOGO A INVITO... */

.section-white{
  background-color: white;
  height: 550px;
  padding: 50px 0px 50px 0px;
}
.image-box{
  background-color: #1E90FF; /*delete after*/
  height: 450px;
  width: 60%;
  justify-content: flex-start;
  border-style: dashed;/*delete after*/
  border-width: 4px;/*delete after*/
  
}

.text-box {
  background-color: #FFC0CB; /*delete after*/
  height: 450px;
  width: 40%;
  justify-content: flex-end;
  border-style: dashed;/*delete after*/
  border-width: 4px;
}



/* SECTION DOVE TROVARSI--- */

.section-grey{
  background-color: #D3D3D3; 
  height: 550px;
  padding: 50px 0px 50px 0px;
}

#container-dovetrovarsi{
  flex-direction: row-reverse;
}

/* SECTION DA POCHI... */



/* SECTION TECNOLOGIA AFFIDABILE... */

.section-tecnologia-affidabile{
  background-color: #D3D3D3 ;
  height: 700px;
  padding: 50px 0px 50px 0px;

}

#container-tecnologia-affidabile{
  background-color: #228B22; /*delete after*/
  border-style: dashed;/*delete after*/
  border-width: 4px;/*delete after*/
  height: 600px;
}



/* FOOTER */

.container-footer{
  background-color: #23272A;
  height: 500px;
  padding: 10px 0px 25px 0px;
}

.il-tuo-posto-per-parlare{
  background-color: #F08080;/*delete after*/
  width: 35%;
  height: 450px;
  justify-content: flex-start;
  border-style: dashed;/*delete after*/
  border-width: 4px;/*delete after*/
}

.option-footer{
  background-color: #20B2AA; /*delete after*/
  width: calc(65% / 4);
  height: 450px;
  border-style: dashed;/*delete after*/
  border-width: 4px;/*delete after*/
  border-color: white;/*delete after*/
}

/* CONTAINER FOOTER DISCORD */

.container-footer-discord{
  background-color: #23272A;
  height: 100px;
  margin-top: 2px;
  padding-top: 25px;
}

#container-footer-discord{
  background-color: #CCE4F7;/*delete after*/
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.logo-discord{
  background-color: #FFB6C1;/*delete after*/
  width: 60px;
  height: 30px;
  border-style: dashed;/*delete after*/
  border-width: 4px;/*delete after*/
  text-align: center;
}

.registrati{
  background-color: #FFB6C1;/*delete after*/
  width: 60px;
  height: 30px;
  border-style: dashed;/*delete after*/
  border-width: 4px;/*delete after*/
  text-align: center;
}


















