*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

header{
  background-color: #ADD8E6; /*delete after*/
  height: 60px;
  padding-top:15px ;
}


.container-flex {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  width: 65%;
  
 
}

#containerlogo{
  height: 30px;
  background-color: #DAA520;
  border-style: dashed;
  justify-content: space-between;
  padding: 4px;
  

}

.logo{
  border-right-style: dashed;
  padding-right: 100px;
}

.links{
  display: inline-flex;
}

.login{
  border-left-style: dashed;
  padding-left: 100px;
}

/* MAIN */

/* SECTION BUTTONS */

.buttons{
  background-color: #00008B;
  height: 400px;
  padding-top: 50px;
}


.container-flex-buttons{

  width: 80%;
  height: 300px;
  background-color: #EE82EE;
  border-style: dashed;
}


/* SECTION UN LUOGO A INVITO... */

.section-white{
  background-color: white;
  height: 550px;
  padding: 40px 0px 40px 0px;
}
.image-box{
  background-color: #1E90FF;
  height: 350px;
  width: 60%;
  justify-content: flex-start;
  border-style: dashed;
}

.text-box {
  background-color: #FFC0CB;
  height: 350px;
  width: 40%;
  justify-content: flex-end;
  border-style: dashed;
}



/* SECTION DOVE TROVARSI--- */

.section-grey{
  background-color: #D3D3D3;
  height: 550px;
  padding: 40px 0px 40px 0px;
}













